@font-face {
    font-family: myFirstFont;
    src: url("../images/backgrounds/Sketch 3D.otf");
}

body {
    background-image: url("../images/backgrounds/wormz.png");
}

.container {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 25px;
    border: 2px solid black;
}

#header {
    font-size: 84px;
    padding-bottom: 10px;
    font-family: myFirstFont;
}

.start-button {
    background-color: lightcyan;
    font-size: 48px;
    font-weight: bold;
    padding: 10px 60px 10px 60px;
    border: 2px solid black;
}

.game {
    font-size: 36px;
}

#question {
    font-weight: bold;
    padding-bottom: 15px;
}

#choice1, #choice2, #choice3, #choice4 {
    background-color: lightcyan;
    margin: 5px;
    border: 2px solid black;
    width: 80%;
}

#result {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 15px;
}

#score {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
}

#image {
    padding-bottom: 5px;
}

#image .img-responsive {
    margin: 0 auto;
}

#reset {
    background-color: lightcyan;
    font-size: 48px;
    font-weight: bold;
    padding: 10px 60px 10px 60px;
    border: 2px solid black;
}

#the-end {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
}

