body {
    background-color: lightblue;
}

.container {
    background-color: white;
    margin-top: 20px;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}

#header {
    font-size: 72px;
    padding-bottom: 40px;
}

.start-button {
    background-color: lightblue;
    font-size: 48px;
    font-weight: bold;
    padding: 10px 60px 10px 60px;
    border: 2px solid black;
}

.game {
    font-size: 36px;
}

#timer {
    padding-bottom: 20px;
}

#question {
    font-weight: bold;
    padding-bottom: 10px;
}

#choice1, #choice2, #choice3, #choice4 {
    background-color: lightblue;
    margin: 5px;
    border: 2px solid black;
    width: 90%;
}
